@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$clactive:#4ad1cc;
$clnor:#171717;
$clp:#787878;
$clxanh:#21bfb9;
$clxanhduong:#0ba2db;
$cltrang:#FFF;
$lightdark:#f5f5f5;
$theme-secondary:  #7b4397;
$theme-tertiary:   #dc2430;
$cldark:#555555;
@mixin transition-all() {
	-webkit-transition: all .35s;
    -moz-transition: all .35s;
	transition: all 0.3s;
}
@mixin fontmon(){
	font-family: Montserrat,Medium;
	font-weight: bold;
}
body {
  overflow: hidden;
}


/* Preloader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
#mainNav {
    border-color: fade-out($clnor, 0.95);
    background-color: white;
    @include transition-all;
    .navbar-brand {
        color: $clactive;
        &:hover,
        &:focus {
            color: darken($clactive, 10%);
        } 
    }
    .navbar-toggler {
        font-size: 12px;
        padding: 8px 10px;
        color: $clnor;
    }
    .navbar-nav {
        > li {
            > a {
            	@include fontmon;
				text-transform: uppercase;
				font-size: 13px;

                &.active {
                    color: $clactive !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
            > a,
            > a:focus {
                color: $clnor;
                &:hover {
                    color: $clactive;
                }
            }
        }
    }
    @media (min-width: 992px) {
        border-color: transparent;
        background-color: transparent;
        .navbar-brand {
            color:$clnor;
            &:hover,
            &:focus {
                color:$clnor;
            }
        }
        .navbar-nav > li > a,
        .navbar-nav > li > a:focus {
            color:$clnor;
            &:hover {
                color: $clactive;
            }
        }
        &.light-menu {
            border-color: fade-out($clnor, .9);
            background-color: white;
            .navbar-brand {
                color: $clnor;
                &:hover,
                &:focus {
                    color: $clactive;
                }
            }
            .navbar-nav > li > a,
            .navbar-nav > li > a:focus {
                color: $clnor;
                &:hover {
                    color: $clactive;
                }
            }
        }
    }
}
#header {
	height: 100vh;
}
.intro {
	display: table;
	width: 100%;
	height: 100vh;
	padding: 0;
	background: url(../images/banner.jpg) no-repeat center center;
	background-color: #e5e5e5;
	background-size: cover;
	font-family:Montserrat;
	position: relative;
	.overlay {
	background: rgba(255,255,255,0.2);
	}
	h1 {
	color:$clnor;
	font-size: 34px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 10px;
	font-weight:bold;
	}
	p {
	color:$clp;
	font-size: 12px;
	margin-top: 27px;
	margin-bottom: 40px;
	line-height: 1.7;
	}

	.intro-text {
		top: 37%;
		right: 20%;
		position: absolute;
	}
}
@media screen and (max-width: 800px) {
 .intro{
 	.intro-text {
 		padding-left: 0;
 	}
 }
}
.btn-custom {
	text-transform: uppercase;
	color: #fff;
	background-color: $clxanh;
	border: 0;
	padding: 14px 30px;
	margin: 0;
	font-size: 12px;
	border-radius: 2px;
	@include transition-all;
	font-weight:bold;
	&:hover, &:focus,&.focus,&:active,&.active {
		color: #fff;
		background-color: #444;
	}
}
.aboutus {
	.abouttext {
		padding-top: 70px;
		text-align:center;
		h3 {
			padding-bottom: 20px;
		}
		p{
			color: $clp;
			font-family: Nunito Sans;
		}
		img{
			padding-bottom: 70px;
		}
	}
}

.departments
{
	position: relative;
	width: 100%;
	background: transparent;
	padding-top: 75px;
	padding-bottom: 65px;
	.departments_background
	{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	}
	.dept_col
	{
	margin-bottom: 30px;
		.dept
		{
			.protext {
				@include fontmon;
				padding-bottom: 40px;
				padding-top: 40px;
				.progress {
					height: 4px;
				}
				p{
					text-transform: uppercase;
					font-size: 12px;
					padding-top: 20px;
				}
			}
		}
	}
}



.total {
	background-color: #10c9c3;
	.row {
		padding-top: 60px;
		padding-bottom: 60px;
		color: $cltrang;
		.totaltext {
			display: inline-block;
			@include fontmon;
			h6 {
				margin: 0;
			}
			p {
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
}
.product {
	@include transition-all;
	.proimg {
		padding: 0;
		img {
			&:hover{ 
				opacity: 0.3;
				transition: .3s ease;
			}
		}
		.overlay {
		  position: absolute;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  height: 100%;
		  width: 100%;
		  opacity: 0;
		  transition: .3s ease;
		  background-color: black;
		  &:hover {
		  	opacity: 0.4;
		  }
		}
		.overlay2 {
		  @extend .overlay;
		  background-color: $clactive;
		}
	}
	.load
	{
		@include fontmon;
		button {
			font-size: 12px;
			text-transform: uppercase;	
			border: none;
			background: $lightdark;
			color: $clp;
			padding: 10px;
			border-radius: 5px;
			position: relative;
			width: 100%;
			box-sizing: border-box;
			transition: all 500ms ease;
			&:before {
				content:'';
				position: absolute;
				top: 0px;
				left: 0px;
				width: 0px;
				height: 42px;
				background: rgba(274, 209, 204,0.4);
				color:$cltrang;
				transition: all 2s ease;
			}
			&:hover:before {
				width: 100%;
			}
		}
	}
}

.ourwork {
	.ourtext {
		padding-top: 70px;
		text-align:center;
		padding-bottom: 70px;
		h3 {
			padding-bottom: 20px;
		}
		p{
			color: $clp;
			font-family: Nunito Sans;
		}
	}
}
.skill {
	margin-top: 60px;
	background-color: $lightdark;
	padding: 40px 0 40px 0;
	.skilltext {
		text-align: center;
		@include fontmon;
		a { 
			text-decoration: none;
			.pe-va{ 
			    transition:  0.8s ease-out;
			  }
			  
			  &:hover {
			    .pe-va{
			      transform: rotateZ(360deg);
			    }
			  }
			}
		i {
			padding-bottom: 10px;
			color: black;
		}
		h6 {
			color: black;
			margin: 0;
			font-size: 9pt;
			text-transform: uppercase;
			padding-bottom: 10px;
		}
		p {
			font-size: 12px;
			color: $clp;
		}

	}
}
.slideshow-container {
	position: relative;
	background-color: $clxanh;
	.mySlides {
		display: none;
		padding: 100px;
		padding-top: 120px;
		text-align: center;
		@include fontmon;
		color: $cltrang;
		h3 {
			font-size: 20pt;
		}
		.author {
			font-size: 9pt;
			text-transform: uppercase;
			padding-top: 10px;
		}
	}
}

.dot-container {
	text-align: center;
	padding: 20px;
	background-color: $clxanh;
	.dot {
		cursor: pointer;
		height: 15px;
		width: 15px;
		margin: 0 2px;
		background-color: $cltrang;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
		&.active, &:hover {
			background-color: $cldark;
		}
	}
}
.logo {
	padding: 70px;
	.col-half-offset{
    margin-left:4.166666667%
	}
}
.formproject {
	padding: 0;
	.formtext {
		padding: 60px;
		text-align: center;
		background-color: #e9ecef;
		form {

			margin-left:auto;
 			margin-right:auto;
 			::placeholder {
 				font-family: Nunito Sans;
				font-size: 10pt;
 			}
 			.panel-footer {
 				padding-top: 10px;
 				button {
 				background-color: $clactive;
 				color: $cltrang;
 				border: none;
 				@include fontmon;
				font-size: 9pt;
				padding: 15px 20px 15px 20px;
					&:hover,&:focus
					{
					background-color: $clxanhduong;
					border-color: $clxanhduong;
					}
 				}
 			}
		}
		h3 {
			font-family: Nunito Sans;
			font-weight: bold;
		}
		p {
			color: $clp;
			font-family: Nunito Sans;
			font-size: 10pt;
		}
	}
}
.uiux {
	background-color: $lightdark;
	color: $clnor;
	text-align: center;
	padding: 50px 0 50px 0;
}
.amelia {
	position: relative;

	margin: 0;
	text-align: center;
	.amelia_background {
		position: absolute;
	    width: 100%;
	    height: 100%;
	}
	.ameliatext {
		padding-bottom: 80px;
		padding-top: 80px;
		color: $cltrang;
		h3 {
			font-family: Montserrat,Medium;
		}
		p{
			font-family: Nunito Sans;
		}
	}

}
.aboutme{
	padding: 0;
	margin: 0;
	.aboutimg {
	background: url("../images/aboutme.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	margin: 0;
	}
	.abouttext {
		padding: 100px 0 100px 40px;
	}
}
.project {
	text-align: center;
	padding: 80px 0 80px 0;
	h3 {
		@include fontmon;
	}
	p{
		font-family: Nunito Sans;
		color: $cldark;
		font-size: 10pt;
	}
}
.foodlist{
	padding: 0;
	margin: 0;
	.foodtext {
		padding: 80px 0 80px 80px;
		h3 {
		@include fontmon;
		padding-bottom: 20px;
		}
		p{
		font-family: Nunito Sans;
		color: $cldark;
		font-size: 10pt;
		}
	}
}
.contact {
	margin: 0;
	padding: 0;
	.contacttext {
		padding-top: 53px;
		h3 {
			@include fontmon;
			padding-bottom: 20px;
		}
		p{
		font-family: Nunito Sans;
		color: $cldark;
		font-size: 10pt;
		}
	}
}
#map-canvas {
    height: 500px;
   	width: 100%;
    margin: 0px;
    padding: 0;
}
.footer {
	padding: 50px;
	background-color: $clnor;
	p {
		color: $cldark;
	}
	h5 {
		color: $cltrang;
		padding-bottom: 10px;
	}
	ul {
		li{
			list-style-type: none;
		}
		a {
			text-decoration: none;
			color: $cldark;
		}
		
	}
	.ul1{
			float: left;
		}
		.ul2 {
			float: right;
		}
}