@import url("https://fonts.googleapis.com/css?family=Nunito+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
  overflow: hidden; }

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */ }

#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */ }

#mainNav {
  border-color: rgba(23, 23, 23, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all 0.3s; }
  #mainNav .navbar-brand {
    color: #4ad1cc; }
    #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
      color: #2fb9b4; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    padding: 8px 10px;
    color: #171717; }
  #mainNav .navbar-nav > li > a {
    font-family: Montserrat,Medium;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px; }
    #mainNav .navbar-nav > li > a.active {
      color: #4ad1cc !important;
      background-color: transparent; }
      #mainNav .navbar-nav > li > a.active:hover {
        background-color: transparent; }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: #171717; }
    #mainNav .navbar-nav > li > a:hover,
    #mainNav .navbar-nav > li > a:focus:hover {
      color: #4ad1cc; }
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent; }
      #mainNav .navbar-brand {
        color: #171717; }
        #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
          color: #171717; }
      #mainNav .navbar-nav > li > a,
      #mainNav .navbar-nav > li > a:focus {
        color: #171717; }
        #mainNav .navbar-nav > li > a:hover,
        #mainNav .navbar-nav > li > a:focus:hover {
          color: #4ad1cc; }
      #mainNav.light-menu {
        border-color: rgba(23, 23, 23, 0.1);
        background-color: white; }
        #mainNav.light-menu .navbar-brand {
          color: #171717; }
          #mainNav.light-menu .navbar-brand:hover, #mainNav.light-menu .navbar-brand:focus {
            color: #4ad1cc; }
        #mainNav.light-menu .navbar-nav > li > a,
        #mainNav.light-menu .navbar-nav > li > a:focus {
          color: #171717; }
          #mainNav.light-menu .navbar-nav > li > a:hover,
          #mainNav.light-menu .navbar-nav > li > a:focus:hover {
            color: #4ad1cc; } }

#header {
  height: 100vh; }

.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 0;
  background: url(../images/banner.jpg) no-repeat center center;
  background-color: #e5e5e5;
  background-size: cover;
  font-family: Montserrat;
  position: relative; }
  .intro .overlay, .intro .product .proimg .overlay2, .product .proimg .intro .overlay2 {
    background: rgba(255, 255, 255, 0.2); }
  .intro h1 {
    color: #171717;
    font-size: 34px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: bold; }
  .intro p {
    color: #787878;
    font-size: 12px;
    margin-top: 27px;
    margin-bottom: 40px;
    line-height: 1.7; }
  .intro .intro-text {
    top: 37%;
    right: 20%;
    position: absolute; }

@media screen and (max-width: 800px) {
  .intro .intro-text {
    padding-left: 0; } }
.btn-custom {
  text-transform: uppercase;
  color: #fff;
  background-color: #21bfb9;
  border: 0;
  padding: 14px 30px;
  margin: 0;
  font-size: 12px;
  border-radius: 2px;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all 0.3s;
  font-weight: bold; }
  .btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    color: #fff;
    background-color: #444; }

.aboutus .abouttext {
  padding-top: 70px;
  text-align: center; }
  .aboutus .abouttext h3 {
    padding-bottom: 20px; }
  .aboutus .abouttext p {
    color: #787878;
    font-family: Nunito Sans; }
  .aboutus .abouttext img {
    padding-bottom: 70px; }

.departments {
  position: relative;
  width: 100%;
  background: transparent;
  padding-top: 75px;
  padding-bottom: 65px; }
  .departments .departments_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .departments .dept_col {
    margin-bottom: 30px; }
    .departments .dept_col .dept .protext {
      font-family: Montserrat,Medium;
      font-weight: bold;
      padding-bottom: 40px;
      padding-top: 40px; }
      .departments .dept_col .dept .protext .progress {
        height: 4px; }
      .departments .dept_col .dept .protext p {
        text-transform: uppercase;
        font-size: 12px;
        padding-top: 20px; }

.total {
  background-color: #10c9c3; }
  .total .row {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #FFF; }
    .total .row .totaltext {
      display: inline-block;
      font-family: Montserrat,Medium;
      font-weight: bold; }
      .total .row .totaltext h6 {
        margin: 0; }
      .total .row .totaltext p {
        font-size: 12px;
        text-transform: uppercase; }

.product {
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all 0.3s; }
  .product .proimg {
    padding: 0; }
    .product .proimg img:hover {
      opacity: 0.3;
      transition: .3s ease; }
    .product .proimg .overlay, .product .proimg .overlay2 {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .3s ease;
      background-color: black; }
      .product .proimg .overlay:hover, .product .proimg .overlay2:hover {
        opacity: 0.4; }
    .product .proimg .overlay2 {
      background-color: #4ad1cc; }
  .product .load {
    font-family: Montserrat,Medium;
    font-weight: bold; }
    .product .load button {
      font-size: 12px;
      text-transform: uppercase;
      border: none;
      background: #f5f5f5;
      color: #787878;
      padding: 10px;
      border-radius: 5px;
      position: relative;
      width: 100%;
      box-sizing: border-box;
      transition: all 500ms ease; }
      .product .load button:before {
        content: '';
        position: absolute;
        top: 0px;
        left: 0px;
        width: 0px;
        height: 42px;
        background: rgba(255, 209, 204, 0.4);
        color: #FFF;
        transition: all 2s ease; }
      .product .load button:hover:before {
        width: 100%; }

.ourwork .ourtext {
  padding-top: 70px;
  text-align: center;
  padding-bottom: 70px; }
  .ourwork .ourtext h3 {
    padding-bottom: 20px; }
  .ourwork .ourtext p {
    color: #787878;
    font-family: Nunito Sans; }

.skill {
  margin-top: 60px;
  background-color: #f5f5f5;
  padding: 40px 0 40px 0; }
  .skill .skilltext {
    text-align: center;
    font-family: Montserrat,Medium;
    font-weight: bold; }
    .skill .skilltext a {
      text-decoration: none; }
      .skill .skilltext a .pe-va {
        transition: 0.8s ease-out; }
      .skill .skilltext a:hover .pe-va {
        transform: rotateZ(360deg); }
    .skill .skilltext i {
      padding-bottom: 10px;
      color: black; }
    .skill .skilltext h6 {
      color: black;
      margin: 0;
      font-size: 9pt;
      text-transform: uppercase;
      padding-bottom: 10px; }
    .skill .skilltext p {
      font-size: 12px;
      color: #787878; }

.slideshow-container {
  position: relative;
  background-color: #21bfb9; }
  .slideshow-container .mySlides {
    display: none;
    padding: 100px;
    padding-top: 120px;
    text-align: center;
    font-family: Montserrat,Medium;
    font-weight: bold;
    color: #FFF; }
    .slideshow-container .mySlides h3 {
      font-size: 20pt; }
    .slideshow-container .mySlides .author {
      font-size: 9pt;
      text-transform: uppercase;
      padding-top: 10px; }

.dot-container {
  text-align: center;
  padding: 20px;
  background-color: #21bfb9; }
  .dot-container .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; }
    .dot-container .dot.active, .dot-container .dot:hover {
      background-color: #555555; }

.logo {
  padding: 70px; }
  .logo .col-half-offset {
    margin-left: 4.166666667%; }

.formproject {
  padding: 0; }
  .formproject .formtext {
    padding: 60px;
    text-align: center;
    background-color: #e9ecef; }
    .formproject .formtext form {
      margin-left: auto;
      margin-right: auto; }
      .formproject .formtext form ::placeholder {
        font-family: Nunito Sans;
        font-size: 10pt; }
      .formproject .formtext form .panel-footer {
        padding-top: 10px; }
        .formproject .formtext form .panel-footer button {
          background-color: #4ad1cc;
          color: #FFF;
          border: none;
          font-family: Montserrat,Medium;
          font-weight: bold;
          font-size: 9pt;
          padding: 15px 20px 15px 20px; }
          .formproject .formtext form .panel-footer button:hover, .formproject .formtext form .panel-footer button:focus {
            background-color: #0ba2db;
            border-color: #0ba2db; }
    .formproject .formtext h3 {
      font-family: Nunito Sans;
      font-weight: bold; }
    .formproject .formtext p {
      color: #787878;
      font-family: Nunito Sans;
      font-size: 10pt; }

.uiux {
  background-color: #f5f5f5;
  color: #171717;
  text-align: center;
  padding: 50px 0 50px 0; }

.amelia {
  position: relative;
  margin: 0;
  text-align: center; }
  .amelia .amelia_background {
    position: absolute;
    width: 100%;
    height: 100%; }
  .amelia .ameliatext {
    padding-bottom: 80px;
    padding-top: 80px;
    color: #FFF; }
    .amelia .ameliatext h3 {
      font-family: Montserrat,Medium; }
    .amelia .ameliatext p {
      font-family: Nunito Sans; }

.aboutme {
  padding: 0;
  margin: 0; }
  .aboutme .aboutimg {
    background: url("../images/aboutme.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; }
  .aboutme .abouttext {
    padding: 100px 0 100px 40px; }

.project {
  text-align: center;
  padding: 80px 0 80px 0; }
  .project h3 {
    font-family: Montserrat,Medium;
    font-weight: bold; }
  .project p {
    font-family: Nunito Sans;
    color: #555555;
    font-size: 10pt; }

.foodlist {
  padding: 0;
  margin: 0; }
  .foodlist .foodtext {
    padding: 80px 0 80px 80px; }
    .foodlist .foodtext h3 {
      font-family: Montserrat,Medium;
      font-weight: bold;
      padding-bottom: 20px; }
    .foodlist .foodtext p {
      font-family: Nunito Sans;
      color: #555555;
      font-size: 10pt; }

.contact {
  margin: 0;
  padding: 0; }
  .contact .contacttext {
    padding-top: 53px; }
    .contact .contacttext h3 {
      font-family: Montserrat,Medium;
      font-weight: bold;
      padding-bottom: 20px; }
    .contact .contacttext p {
      font-family: Nunito Sans;
      color: #555555;
      font-size: 10pt; }

#map-canvas {
  height: 500px;
  width: 100%;
  margin: 0px;
  padding: 0; }

.footer {
  padding: 50px;
  background-color: #171717; }
  .footer p {
    color: #555555; }
  .footer h5 {
    color: #FFF;
    padding-bottom: 10px; }
  .footer ul li {
    list-style-type: none; }
  .footer ul a {
    text-decoration: none;
    color: #555555; }
  .footer .ul1 {
    float: left; }
  .footer .ul2 {
    float: right; }

.scrollToTop {
  width: 100px;
  height: 130px;
  padding: 10px;
  text-align: center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position: fixed;
  bottom: 15px;
  right: 40px;
  display: none;
  background: url("../images/arrow_up.png") no-repeat 0px 20px; }
  .scrollToTop:hover {
    text-decoration: none; }

/*# sourceMappingURL=custom.css.map */
